.enjoyGG {
    display: flex;
    position: relative;
    padding-bottom: 90px;
    padding-top: 80px;
    gap: 80px;
}

.tribl-img__enjoy {
    padding-bottom: 10px;
}

.enjoyGG h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
}

.enjoyGG p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.ss__enjoy {
    text-decoration: none;
    color: #2563eb;
    display: flex;
}