.podval {
    display: flex;
    padding: 60px 40px;
    color: #6c757d;
    font-size: 16px;
    list-style-type: none;
    
}

.podval-right {
    gap: 40px;
    display: flex;
}


.podval-list:hover {
    color: #0056b3;
}

.magnifico {
    color: black;
    font-weight: 600;
}

.podval-text {
    display: flex;
    gap: 10px;
}
