.team {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 80px;
}

.team .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team-content {
    flex: 1;
    min-width: 400px;
    max-width: 50%;
    padding-right: 40px;
}

.team-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}

.team-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.team-image {
    flex: 1;
    min-width: 350px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team-from {
    display: flex;
    gap: 16px;
    border-radius: 20px;
    font-size: 16px;
    max-width: 600px;
}

.team-inner {
    font-size: 16px;
    width: 408px;
    border-radius: 8px;
    padding: 14px 16px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    padding-left: 50px;


}

.team-inner__img {
    position: absolute;
    top: 17px;
    left: 17px;
}

.team-inner input {
    border: none;
}

.team-git {
    width: 600px;
    height: 48px;
    display: flex;
    gap: 5px;
    padding-right: 100px;
}